<b>{{ event.title }}{% if event.is_finished %} (прошло){% endif %}</b>
🏢 Организация: {{ event.organization_name }}
📝 {{ event.description }}
📍 Город: {{ event.city }}
🧭 Направление: {{ event.direction }}
🎯 Мин. возраст: {{ event.min_age }}
🕒 Начало: {{ event.start_time }}
⏳ Длительность: {{ event.duration_hours }} ч.
