<b>{{ event.title }}</b>
📝 {{ event.description }}
🧭 Направление: {{ event.direction }}
📍 Город: {{ event.city }}
🕒 Начало: {{ event.start_time }}
⏳ Длительность: {{ event.duration_hours }} ч.
🎯 Мин. возраст: {{ event.min_age }}

