<b>{{ event.title }}</b>
📝 {{ event.description }}
🎯 Мин. возраст: {{ event.min_age }}
📍 Город: {{ event.city }}
🕒 Начало: {{ event.start_time }}
⏳ Длительность: {{ event.duration_hours }} ч.
🏷 Категория: {{ event.category }}
