<b>Профиль</b>

👤 Имя: {{ user.name }}
🎂 Возраст: {{ user.age }}
📍 Город: {{ user.city }}
📞 Телефон: {{ user.phone }}
⚧ Пол: {{ 'Ж' if user.gender == 'f' else 'М' }}
🏆 Посещено мероприятий: {{ user.visited_events_count or 0 }}
⏱ Количество часов: {{ user.hours_total or 0 }}
⭐ Рейтинг: {{ user.rating or 0 }}